<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doLogout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of products" [routerLink]="'/detail/'+item.id">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.thumbnail"></ion-img>
      </ion-thumbnail>
      <ion-label>{{ item.title }}</ion-label>
      <ion-note slot="end">RM{{ item.price }}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
